# Python
__pycache__/

# Docker
.env

# Generated or temporary data
data/*

# Allow the conversion bd_erros_de_conversao_datas file
!data/bd_erros_de_conversao_datas.csv

# IDEs
.vscode/

# Virtual Environment
venv/